h1{
    color:rgb(22, 117, 4);
}
h1 {
    text-align: center;
    background-color: rgba(253, 252, 252, 0);
    font-style: oblique;
}
h3 { color: #0000ff;
}
p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: rgba(6, 177, 245, 0.856);
    
}
.paragrafo1 {
    color:rgb(255,255,255);
    
}
.paragrafo2 {
    color: rgb(250, 250, 250);
}
.imagem1 {
    image-orientation: center; 
    width: 1349px;
}
h2 {
    color:rgb(250, 234, 6);
}
nav a {
   color:rgb(250, 234, 6);

}
.paragrafo3 { 
    color:rgb(255, 255, 255)

}

ul {
    color:rgb(255, 255, 255)
}
.paragrafo4 {
    color:rgb(255, 255, 255)

}
h4 {
    color:rgb(22, 117, 4);
}
.paragrafo4 {
    color:rgb(255,255,255);
}
